.container {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    width: 360px;
    padding-right: 10px;
}

.delButton {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 40px;
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid darkgray;
}


.list {
    padding: 12px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 12px;

}